.sidebar {
  width: 25%;
  display: flex;
  gap: 16px;
}

.sidebar__username {
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-size: 20px;
  margin: 16px 16px 16px 0;
  font-weight: 700;
  line-height: 24.8px;
}
